{% extends 'core/base.html' %}
{% load static %}
{% block title %}Order {{order.id}}{% endblock %}

{% block content %}


<section class="container mx-auto px-4 py-8">
    <div class="flex flex-wrap -mx-4">

        <!-- Order Info -->
        <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
            <div class="bg-white p-8 rounded-lg shadow-lg border border-gray-300">
                <h2 class="text-2xl font-bold mb-4">Order #{{ order.id }}</h2>
                <p class="mb-3 text-lg"><strong>Date:</strong> {{ order.created_at|date:"M d, Y" }}</p>
                <p class="mb-3 text-lg"><strong>Name:</strong> {{ order.first_name }} {{ order.last_name }}</p>
                <p class="mb-3 text-lg"><strong>Email:</strong> {{ order.email }}</p>
                <p class="mb-3 text-lg"><strong>Address:</strong> {{ order.address }}, {{ order.zipcode }}, {{ order.place }}</p>
                <p class="mb-3 text-lg"><strong>Action date:</strong> {{ order_item.shiped_date }}</p>
                <p class="mb-3 text-lg"><strong>Phone:</strong> {{ order.phone }}</p>
                <p class="mb-3 text-lg"><strong>Status:</strong> {{ order_item.status|capfirst }}</p>
                <p class="text-lg font-semibold"><strong>Total Paid:</strong> ${{ order.get_total_price }}</p>
            </div>
        </div>

        <!-- Order Item Details -->
        <div class="w-full md:w-1/2 px-4">
            <div class="bg-white p-8 rounded-lg shadow-lg border border-gray-300">
                <h2 class="text-2xl font-bold mb-4">Order Item</h2>
                <div class="flex items-center space-x-4 mb-4">
                    <img class="h-24 w-24 object-cover rounded-lg border border-gray-300" src="{{ order_item.product.image.url }}" alt="{{ order_item.product.title }}">
                    <div>
                        <p class="text-xl font-semibold mb-2">{{ order_item.product.title }}</p>
                        <p class="mb-2 text-lg"><strong>Quantity:</strong> {{ order_item.quantity }}</p>
                        <p class="mb-2 text-lg"><strong>Item Price:</strong> ${{ order_item.product.price }}</p>
                        <p class="text-lg font-semibold"><strong>Total Price:</strong> ${{ order_item.get_total_price }}</p>
                    </div>
                </div>
                <div class="flex justify-between items-center">
                    <a href="{% url 'myaccount' %}" class="text-blue-500 hover:text-blue-700">Back to my account</a>
                    {% if order_item.status == "ordered" %}
                        <div class="flex space-x-4">
                            <a href="{% url 'approve-order-item' order_item.id %}" class="px-6 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition duration-300">Approve</a>
                            <a href="{% url 'reject-order-item' order_item.id %}" class="px-6 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition duration-300">Reject</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>




{% endblock %}